# Dependencies
node_modules/

# Build
dist/
.angular/
out-tsc/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
